html,
body {
  font-family: "源ノ角ゴシック", "Source Han Sans", "メイリオ", sans-serif;
  font-weight: 500;
}

.wf-wire-one {
  font-family: "Wire One";
  letter-spacing: 3px;
}

// b-tableのヘッダを隠すのに、scoped cssだとclassがうまく適用できないため追加
.b-table-hidden-header {
  display: none;
}

// style binding用。
.bTableHiddenHeader {
  @extend .b-table-hidden-header;
}
